body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 1px; /* some padding */
    text-align: center; /* center the text */
    background: #c53131; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 50px;
  }
  .header h2 {
    font-size: 30px;
}

.navbar {
    padding: 15px; /* some padding */
    overflow: hidden;
    text-align: center; /* center the text */
    background: #5e5d5d; /* green background */
    color: white; /* white text color */
  }
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 12px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

.subheader {
    padding: 10px;
    background: #818181;
    text-align: center;
    color: white;
}
.subheader h2 {
    font-size: 30px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #5e5d5d;
    margin-top: 20px;
  }
  .footer a {
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 12px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */ 
  }
.fakeimg {
    background-color: #818181;
}
.card {
    background-color: rgb(211, 211, 211);
    padding: 20px;
    margin-top: 20px;
  }
  .card h2 {
      color: black;
  }
  .card h5{
      color: rgb(88, 88, 88);
  }
  .card p {
      color: rgb(36, 36, 36);
  }

